In [1]:
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

# %matplotlib inline

In [2]:
teis_p = pd.read_csv('../data/teis_p.csv')
teis_p

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date
0,ET,411812,12/14/2016,Blount,Transitional,Notification,I,Charity Decker,12/16/2016,NaN,DCS,NaN,NaN,NaN,NaN,Unable to contact,12/29/2016
1,ET,417398,4/6/2015,Knox,Transitional,Eligibility,I,Jackie Campbell,4/24/2017,5/2/2017,Parent,Ineligible,5/16/2017,NaN,NaN,Ineligible for Part C,5/16/2017
2,ET,419400,3/4/2016,Roane,Transitional,Notification,I,Kelly Brackney,6/6/2017,NaN,DCS,NaN,NaN,NaN,NaN,Parent decline,6/30/2017
3,ET,397571,5/11/2015,Knox,Transitional,Eligibility,I,Wendy Burton,5/24/2017,6/13/2017,Other,Ineligible,6/16/2017,NaN,NaN,Ineligible for Part C,6/16/2017
4,ET,404648,9/23/2015,Knox,Transitional,IFSP,I,Sarah Scott,7/18/2016,7/28/2016,Other,Eligible,8/1/2016,8/16/2016,7/24/2018,618 - Part B eligibility not determined,9/21/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,4/10/2020,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,1/12/2022,1/19/2022,PCP,Ineligible,1/31/2022,NaN,NaN,Ineligible for Part C,1/31/2022
96576,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,PCP,Eligible,5/23/2022,5/31/2022,5/31/2022,NaN,NaN
96577,UC,525460,8/27/2019,Sumner,Competitive,Notification,I,Sherry Roberts-DS,3/29/2022,NaN,PCP,NaN,NaN,NaN,NaN,Unable to contact,4/11/2022
96578,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,Parent,NaN,NaN,NaN,NaN,NaN,NaN
96579,UC,514216,2/4/2021,Sumner,Competitive,IFSP,I,Dawn Reed,11/5/2021,11/10/2021,PCP,Eligible,12/1/2021,12/7/2021,12/7/2021,618 - Parent withdraw,2/10/2022

In [3]:
teis_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96580 entries, 0 to 96579
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   POE                        96580 non-null  object
 1   Child ID                   96580 non-null  int64
 2   DOB                        96580 non-null  object
 3   County Name                96576 non-null  object
 4   County SES                 96576 non-null  object
 5   Child Phase                96580 non-null  object
 6   Active                     96580 non-null  object
 7   Service Coordinator        96579 non-null  object
 8   Notification Date          96580 non-null  object
 9   Parent Consent Date        70026 non-null  object
 10  Referral Source Type Name  96580 non-null  object
 11  Initial Eligibility        68221 non-null  object
 12  Initial Eligibility Date   68221 non-null  object
 13  Initial IFSP Date          45493 non-null  object
 14  Latest IFSP Date           44331 non-null  object
 15  Exit Reason                85194 non-null  object
 16  Exit Date                  85194 non-null  object
dtypes: int64(1), object(16)
memory usage: 12.5+ MB

In [4]:
teis_p = teis_p.rename(columns = {'County SES ' : 'County SES'})
teis_p

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date
0,ET,411812,12/14/2016,Blount,Transitional,Notification,I,Charity Decker,12/16/2016,NaN,DCS,NaN,NaN,NaN,NaN,Unable to contact,12/29/2016
1,ET,417398,4/6/2015,Knox,Transitional,Eligibility,I,Jackie Campbell,4/24/2017,5/2/2017,Parent,Ineligible,5/16/2017,NaN,NaN,Ineligible for Part C,5/16/2017
2,ET,419400,3/4/2016,Roane,Transitional,Notification,I,Kelly Brackney,6/6/2017,NaN,DCS,NaN,NaN,NaN,NaN,Parent decline,6/30/2017
3,ET,397571,5/11/2015,Knox,Transitional,Eligibility,I,Wendy Burton,5/24/2017,6/13/2017,Other,Ineligible,6/16/2017,NaN,NaN,Ineligible for Part C,6/16/2017
4,ET,404648,9/23/2015,Knox,Transitional,IFSP,I,Sarah Scott,7/18/2016,7/28/2016,Other,Eligible,8/1/2016,8/16/2016,7/24/2018,618 - Part B eligibility not determined,9/21/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,4/10/2020,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,1/12/2022,1/19/2022,PCP,Ineligible,1/31/2022,NaN,NaN,Ineligible for Part C,1/31/2022
96576,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,PCP,Eligible,5/23/2022,5/31/2022,5/31/2022,NaN,NaN
96577,UC,525460,8/27/2019,Sumner,Competitive,Notification,I,Sherry Roberts-DS,3/29/2022,NaN,PCP,NaN,NaN,NaN,NaN,Unable to contact,4/11/2022
96578,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,Parent,NaN,NaN,NaN,NaN,NaN,NaN
96579,UC,514216,2/4/2021,Sumner,Competitive,IFSP,I,Dawn Reed,11/5/2021,11/10/2021,PCP,Eligible,12/1/2021,12/7/2021,12/7/2021,618 - Parent withdraw,2/10/2022

In [5]:
teis_c = pd.read_csv('../data/teis_c.csv')
teis_c

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,1,2016,1,NaN,NaN,8/9/2017,NaN,1,Qtr 1,#REF!
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,1,2016,1,NaN,NaN,7/31/2016,1.0,1,Qtr 1,#REF!
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,1,2016,1,NaN,NaN,2/5/2019,NaN,1,Qtr 1,#REF!
3,FT,404157,12/6/2015,Sullivan,Transitional,IFSP,A,Candice Cradic,7/1/2016,7/22/16,...,1,2016,1,NaN,NaN,12/6/2018,NaN,1,Qtr 1,#REF!
4,FT,404154,4/18/2015,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,7/1/2016,7/18/16,...,1,2016,1,NaN,NaN,4/18/2018,NaN,1,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113251,UC,528759,4/7/2021,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,5/16/2022,5/26/2022,...,1,2021,1,NaN,NaN,4/7/2024,NaN,4,Qtr 4,#REF!
113252,UC,528534,3/13/2022,Sumner,Competitive,IFSP,A,Robyn Hogan,5/11/2022,5/23/2022,...,1,2021,1,NaN,NaN,3/13/2025,NaN,4,Qtr 4,#REF!
113253,UC,528430,1/5/2022,Cumberland,Transitional,Eligibility,A,Lisa Davis,5/10/2022,5/18/2022,...,1,2021,1,NaN,NaN,1/5/2025,NaN,4,Qtr 4,#REF!
113254,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,...,1,2021,1,NaN,NaN,9/12/2023,NaN,4,Qtr 4,#REF!
113255,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,...,1,2021,1,NaN,NaN,2/8/2025,NaN,4,Qtr 4,#REF!

In [6]:
teis_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113256 entries, 0 to 113255
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          113256 non-null  object
 1   Child ID                     113256 non-null  int64
 2   DOB                          113256 non-null  object
 3   County Name                  113251 non-null  object
 4   County SES                   113251 non-null  object
 5   Child Phase                  113256 non-null  object
 6   Active                       113256 non-null  object
 7   Service Coordinator          113255 non-null  object
 8   Notification/ Referral Date  113256 non-null  object
 9   Parent Consent Date          58101 non-null   object
 10  Referral Source Type Name    113256 non-null  object
 11  Initial Eligibility          40762 non-null   object
 12  Initial Eligibility Date     40762 non-null   object
 13  Initial IFSP Date            8010 non-null    object
 14  Latest IFSP Date             7983 non-null    object
 15  Exit Reason                  39366 non-null   object
 16  Exit Date                    39366 non-null   object
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  int64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  int64
 25  Fiscal Year.1                113256 non-null  int64
 26  Child Count                  113256 non-null  int64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  object
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  int64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: float64(6), int64(6), object(22)
memory usage: 29.4+ MB

In [7]:
teis_c = teis_c.rename(columns = {'Notification/ Referral Date' : 'Notification Date'})
teis_c

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,1,2016,1,NaN,NaN,8/9/2017,NaN,1,Qtr 1,#REF!
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,1,2016,1,NaN,NaN,7/31/2016,1.0,1,Qtr 1,#REF!
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,1,2016,1,NaN,NaN,2/5/2019,NaN,1,Qtr 1,#REF!
3,FT,404157,12/6/2015,Sullivan,Transitional,IFSP,A,Candice Cradic,7/1/2016,7/22/16,...,1,2016,1,NaN,NaN,12/6/2018,NaN,1,Qtr 1,#REF!
4,FT,404154,4/18/2015,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,7/1/2016,7/18/16,...,1,2016,1,NaN,NaN,4/18/2018,NaN,1,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113251,UC,528759,4/7/2021,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,5/16/2022,5/26/2022,...,1,2021,1,NaN,NaN,4/7/2024,NaN,4,Qtr 4,#REF!
113252,UC,528534,3/13/2022,Sumner,Competitive,IFSP,A,Robyn Hogan,5/11/2022,5/23/2022,...,1,2021,1,NaN,NaN,3/13/2025,NaN,4,Qtr 4,#REF!
113253,UC,528430,1/5/2022,Cumberland,Transitional,Eligibility,A,Lisa Davis,5/10/2022,5/18/2022,...,1,2021,1,NaN,NaN,1/5/2025,NaN,4,Qtr 4,#REF!
113254,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,...,1,2021,1,NaN,NaN,9/12/2023,NaN,4,Qtr 4,#REF!
113255,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,...,1,2021,1,NaN,NaN,2/8/2025,NaN,4,Qtr 4,#REF!

In [8]:
#teis_c2 = teis_c.drop(columns = ['POE', 'DOB', 'Referral Source Type Name', 'County Name', 'County SES', 'Child Phase', 'Active', 'Service Coordinator',  
#                                'Parent Consent Date', 'Initial IFSP Date', 'Latest IFSP Date', 
#                                'Exit Reason', 'Exit Date', '2012 Child Count', '2013 Child Count', 
#                                'Service Coordinator Counter', 'Referral Count', 'IFSP Count', ' QTR ',
#                                'Evaluation Count', 'Eligibility Count',  'Child Count', 'Referral Source Category',
#                                'Initial Eligibility', 'Initial Eligibility Date'])

In [9]:
teis_pc = pd.merge(teis_p, teis_c,how = 'outer' )
teis_pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  object
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  object
 9   Parent Consent Date          127024 non-null  object
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106768 non-null  object
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  object
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: float64(11), int64(1), object(22)
memory usage: 51.2+ MB

In [10]:
full_teis= pd.concat([teis_c, teis_p])

In [11]:
teis_pc = full_teis[~full_teis.duplicated(['POE', 'Child ID', 'DOB', 'County Name', 'County SES', 'Child Phase',
       'Active', 'Service Coordinator', 'Notification Date',
       'Parent Consent Date', 'Referral Source Type Name',
       'Initial Eligibility', 'Initial Eligibility Date', 'Initial IFSP Date',
       'Latest IFSP Date', 'Exit Reason', 'Exit Date'])]
teis_pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 96579
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  object
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  object
 9   Parent Consent Date          127024 non-null  object
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106768 non-null  object
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  object
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: float64(11), int64(1), object(22)
memory usage: 51.2+ MB

In [12]:
import re
from tqdm.notebook import tqdm

In [13]:
for ind, row in tqdm(teis_pc.iterrows()):
    if re.search('\d{5}', str(row['Exit Date'])):
        teis_pc.loc[ind, 'Exit Date'] = np.NaN

0it [00:00, ?it/s]

In [14]:
# teis_pc['DOB'] = pd.to_datetime(teis_pc['DOB'])
# teis_pc['Notification Date'] = pd.to_datetime(teis_pc['Notification Date'])
# teis_pc['Parent Consent Date'] = pd.to_datetime(teis_pc['Parent Consent Date'])
# teis_pc['third DOB'] = pd.to_datetime(teis_pc['third DOB'])
# teis_pc['Exit Date'] = pd.to_datetime(teis_pc['Exit Date'])
# teis_pc

In [15]:
teis_pc[['DOB', 'Notification Date', 'Parent Consent Date', 'third DOB', 'Exit Date']] = teis_pc[['DOB', 'Notification Date', 'Parent Consent Date', 'third DOB', 'Exit Date']].apply(pd.to_datetime)
teis_pc

C:\Users\dada2\AppData\Local\Temp\ipykernel_9068\182261807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teis_pc[['DOB', 'Notification Date', 'Parent Consent Date', 'third DOB', 'Exit Date']] = teis_pc[['DOB', 'Notification Date', 'Parent Consent Date', 'third DOB', 'Exit Date']].apply(pd.to_datetime)

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,#REF!
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,#REF!
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,#REF!
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,#REF!
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,UC,523485,2019-10-23,Sumner,Competitive,IFSP,A,Miriam Espinosa,2022-03-02,2022-03-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96573,UC,528430,2022-01-05,Cumberland,Transitional,IFSP,A,Lisa Davis,2022-05-10,2022-05-18,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96574,UC,515685,2019-08-14,Sumner,Competitive,IFSP,A,Cindy Willard,2021-12-01,2021-12-07,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [16]:
teis_c3 = teis_c.drop(columns = ['2012 Child Count', '2013 Child Count', 'Service Coordinator Counter', 'Referral Count', 
                                 'Evaluation Count', 'Eligibility Count', 'IFSP Count', 'Child Count', ' QTR ', 
                                 'Referral Source Category'])
teis_c3

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Latest IFSP Date,Exit Reason,Exit Date,Fiscal Year,Notification Month,Tenn Region,Fiscal Year.1,third DOB,Late Referral,Qtr
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,NaN,NaN,NaN,2016-2017,Jul,Eastern,2016,8/9/2017,NaN,1
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,NaN,Referral less than 45 days,7/1/2016,2016-2017,Jul,Eastern,2016,7/31/2016,1.0,1
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,NaN,NaN,NaN,2016-2017,Jul,Eastern,2016,2/5/2019,NaN,1
3,FT,404157,12/6/2015,Sullivan,Transitional,IFSP,A,Candice Cradic,7/1/2016,7/22/16,...,8/10/2016,NaN,NaN,2016-2017,Jul,Eastern,2016,12/6/2018,NaN,1
4,FT,404154,4/18/2015,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,7/1/2016,7/18/16,...,7/28/2016,NaN,NaN,2016-2017,Jul,Eastern,2016,4/18/2018,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113251,UC,528759,4/7/2021,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,5/16/2022,5/26/2022,...,NaN,NaN,NaN,2021-2022,May,Middle,2021,4/7/2024,NaN,4
113252,UC,528534,3/13/2022,Sumner,Competitive,IFSP,A,Robyn Hogan,5/11/2022,5/23/2022,...,6/14/2022,NaN,NaN,2021-2022,May,Middle,2021,3/13/2025,NaN,4
113253,UC,528430,1/5/2022,Cumberland,Transitional,Eligibility,A,Lisa Davis,5/10/2022,5/18/2022,...,NaN,NaN,NaN,2021-2022,May,Middle,2021,1/5/2025,NaN,4
113254,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,...,5/31/2022,NaN,NaN,2021-2022,May,Middle,2021,9/12/2023,NaN,4
113255,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,...,NaN,NaN,NaN,2021-2022,May,Middle,2021,2/8/2025,NaN,4

In [17]:
teis_pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 96579
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  datetime64[ns]
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date          127024 non-null  datetime64[ns]
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106523 non-null  datetime64[ns]
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  datetime64[ns]
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: datetime64[ns](5), float64(11), int64(1), object(17)
memory usage: 55.2+ MB

In [18]:
# duplicates = teis_pc.duplicated()
# print(duplicates)

In [19]:
#duplicates.count()

In [20]:
#duplicates.sum()

In [21]:
#duplicates = teis_pc.duplicated()
#teis_pc[duplicates]

In [22]:
all_dups = teis_pc[teis_pc.duplicated(['Child ID', 'Notification Date'], keep=False)].sort_values('Child ID')
all_dups

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
437,NW,351755,2013-11-13,Madison,Transitional,Evaluation,A,Rene Bard,2016-07-12,2016-07-12,...,1.0,2016.0,1.0,NaN,NaN,2016-11-13,NaN,1.0,Qtr 1,#REF!
8367,NW,351755,2013-11-13,Madison,Transitional,Eligibility,I,Rene Bard,2016-07-12,2016-07-12,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
13240,UC,353805,2013-12-04,Putnam,Transitional,IFSP,I,Anna Bolin,2016-08-05,2016-08-15,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1552,UC,353805,2013-12-04,Putnam,Transitional,Evaluation,A,Anna Bolin,2016-08-05,2016-08-15,...,1.0,2016.0,1.0,NaN,NaN,2016-12-04,NaN,1.0,Qtr 1,#REF!
4142,MD,353900,2013-10-09,Shelby,Transitional,Notification,I,JoAnn Hinkle-DA,2016-09-29,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-10-09,1.0,1.0,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95952,UC,529587,2022-03-15,Sumner,Competitive,Eligibility,I,Sherry Roberts-DS,2022-05-31,2022-06-08,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
93343,SE,529597,2020-04-10,McMinn,Transitional,Eligibility,I,Jennifer Rose - ES,2022-05-31,2022-06-04,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
112947,SE,529597,2020-04-10,McMinn,Transitional,Notification,A,Signal Centers-EEA,2022-05-31,NaT,...,1.0,2021.0,1.0,NaN,NaN,2023-04-10,NaN,4.0,Qtr 4,#REF!
81090,FT,529609,2020-05-13,Washington,Transitional,Notification,I,Alicia Taylor - Admin,2022-05-31,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
111777,FT,529609,2020-05-13,Washington,Transitional,Notification,A,Signal Centers-EEA,2022-05-31,NaT,...,1.0,2021.0,1.0,NaN,NaN,2023-05-13,NaN,4.0,Qtr 4,#REF!

In [23]:
num_all_dup = len(np.unique(np.array(all_teis_dups['Child ID'])))
num_all_dup

NameError: name 'all_teis_dups' is not defined

In [24]:
county_dups = all_teis_dups[~all_teis_dups.duplicated(['County Name', 'Child ID', 'Notification Date'], keep=False)]
county_dups
#These are instances when the same referral was noted under 2 different counties

NameError: name 'all_teis_dups' is not defined

In [ ]:
num_county_dup = len(np.unique(np.array(county_dups['Child ID'])))
num_county_dup

In [ ]:
POE_dups = all_teis_dups[~all_teis_dups.duplicated(['POE', 'Child ID', 'Notification Date'], keep=False)]
POE_dups
#These are instances when the same referral was noted under 2 different POEs

In [ ]:
num_POE_dup = len(np.unique(np.array(POE_dups['Child ID'])))
num_POE_dup

In [ ]:
county_status_dups = county_dups[county_dups.duplicated(['Child ID', 'Child Phase', 'Notification Date'], keep=False)]
county_status_dups
#looking at the duplicates that have different counties but the same status

In [ ]:
# all_dups = teis_pc[teis_pc.duplicated(['Child ID', 'Notification Date'], keep=False)].sort_values('Child ID')
# all_dups[['Child ID', 'DOB', 'Notification Date', 'Referral Source Type Name', 'Fiscal Year']].tail(20)

In [ ]:
# all_dups[~all_dups.duplicated(subset=['Child ID', 'Notification Date','Referral Source Type Name'], keep=False)]

In [25]:
teis_pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 96579
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  datetime64[ns]
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date          127024 non-null  datetime64[ns]
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106523 non-null  datetime64[ns]
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  datetime64[ns]
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: datetime64[ns](5), float64(11), int64(1), object(17)
memory usage: 55.2+ MB

In [26]:
teis_pc

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,#REF!
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,#REF!
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,#REF!
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,#REF!
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,UC,523485,2019-10-23,Sumner,Competitive,IFSP,A,Miriam Espinosa,2022-03-02,2022-03-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96573,UC,528430,2022-01-05,Cumberland,Transitional,IFSP,A,Lisa Davis,2022-05-10,2022-05-18,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96574,UC,515685,2019-08-14,Sumner,Competitive,IFSP,A,Cindy Willard,2021-12-01,2021-12-07,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [27]:
teis_pc.value_counts('POE')

POE
ET    33642
GN    33534
MD    28913
SC    24940
FT    19226
UC    15363
SE    14790
NW    10730
SW    10440
dtype: int64

In [28]:
teis_pc.value_counts('County SES')

County SES
Transitional    122397
Competitive      37875
At-Risk          22322
Attainment        4634
Distressed        4342
dtype: int64

In [29]:
teis_pc.value_counts('County Name')

County Name
Shelby        28899
Davidson      18610
Knox          14357
Rutherford     9612
Hamilton       7698
              ...
Perry           175
Clay            163
Van Buren       151
Pickett          90
Moore            86
Length: 95, dtype: int64

In [30]:
teis_pc.value_counts('Service Coordinator')

Service Coordinator
Signal Centers-EEA        12991
Kim Correll               10896
Rebecca Boshers-ES         5990
Jasmine Douglass           5346
Stacia Hall-Admin          4132
                          ...
RaeKenya Walker-DS            1
Sandra Couch - DSS            1
Brenda Rust-DS                1
Stephanie Scott -Admin        1
Jennifer Hodges-SC            1
Length: 441, dtype: int64

In [31]:
teis_pc.value_counts('Referral Source Type Name')

Referral Source Type Name
PCP                              72921
DCS                              40005
Parent                           39653
Hospital                         11564
Dept. of Health                   5901
NICU                              4970
Other                             4343
Other Health Care Provider        3945
Early Head Start/Head Start       1779
Speech Therapist                  1145
PT                                1093
Family and Friends                 926
Foster Parent                      762
Child Care provider                743
Community/Child Find Activity      676
EIRA                               587
NHS                                317
OT                                 143
PICU                                46
LEA                                 27
DHS                                 21
TIPS                                 6
CAPTA                                3
DMRS                                 2
dtype: int64

In [32]:
teis_pc.head(25)

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,#REF!
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,#REF!
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,#REF!
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,#REF!
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,#REF!
5,GN,401584,2016-03-27,Montgomery,Transitional,Eligibility,A,Tracey Hardiman,2016-07-01,2016-07-05,...,1.0,2016.0,1.0,NaN,NaN,2019-03-27,NaN,1.0,Qtr 1,#REF!
6,GN,404087,2014-10-29,Davidson,Competitive,Notification,I,Mary Jane Ratliff,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2017-10-29,NaN,1.0,Qtr 1,#REF!
7,GN,402274,2015-12-10,Montgomery,Transitional,Eligibility,I,Tina Regenwether,2016-07-01,2016-07-07,...,1.0,2016.0,1.0,NaN,NaN,2018-12-10,NaN,1.0,Qtr 1,#REF!
8,MD,383596,2014-06-27,Shelby,Transitional,Evaluation,I,Leah Tolbert,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2017-06-27,NaN,1.0,Qtr 1,#REF!
9,MD,396935,2014-12-12,Shelby,Transitional,Eligibility,A,Leah Tolbert,2016-07-01,2016-07-21,...,1.0,2016.0,1.0,NaN,NaN,2017-12-12,NaN,1.0,Qtr 1,#REF!
10,MD,404067,2013-07-04,Shelby,Transitional,Notification,I,JoAnn Hinkle-DA,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-04,1.0,1.0,Qtr 1,#REF!
11,MD,404074,2016-05-23,Shelby,Transitional,Notification,I,Helen Shipp,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2019-05-23,NaN,1.0,Qtr 1,#REF!
12,MD,404065,2015-05-02,Shelby,Transitional,Evaluation,A,Karen Hunter,2016-07-01,2016-07-11,...,1.0,2016.0,1.0,NaN,NaN,2018-05-02,NaN,1.0,Qtr 1,#REF!
13,MD,404055,2014-07-07,Shelby,Transitional,Eligibility,A,Elizabeth Smith,2016-07-01,2016-07-07,...,1.0,2016.0,1.0,NaN,NaN,2017-07-07,NaN,1.0,Qtr 1,#REF!
14,MD,404081,2016-04-23,Shelby,Transitional,Notification,I,JoAnn Hinkle-DA,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2019-04-23,NaN,1.0,Qtr 1,#REF!
15,MD,404064,2015-12-10,Shelby,Transitional,Notification,I,Karen Hunter,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2018-12-10,NaN,1.0,Qtr 1,#REF!
16,MD,404107,2016-06-08,Shelby,Transitional,Evaluation,A,Monica Dennis,2016-07-01,2016-07-12,...,1.0,2016.0,1.0,NaN,NaN,2019-06-08,NaN,1.0,Qtr 1,#REF!
17,MD,404313,2014-09-04,Shelby,Transitional,Eligibility,A,Senetta Conner,2016-07-01,2016-07-13,...,1.0,2016.0,1.0,NaN,NaN,2017-09-04,NaN,1.0,Qtr 1,#REF!
18,MD,404078,2015-09-08,Shelby,Transitional,Notification,I,Lejauna Hall,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2018-09-08,NaN,1.0,Qtr 1,#REF!
19,MD,370623,2014-06-01,Shelby,Transitional,Evaluation,A,Lejauna Hall,2016-07-01,2016-07-14,...,1.0,2016.0,1.0,NaN,NaN,2017-06-01,NaN,1.0,Qtr 1,#REF!
20,NW,380473,2013-12-03,Dyer,Transitional,Screening,I,Bonnette Palmer,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-12-03,NaN,1.0,Qtr 1,#REF!
21,NW,398538,2016-01-14,Henry,Transitional,IFSP,A,Jerri Donaldson,2016-07-01,2016-07-06,...,1.0,2016.0,1.0,NaN,NaN,2019-01-14,NaN,1.0,Qtr 1,#REF!
22,NW,398137,2015-11-18,Henry,Transitional,IFSP,A,Jerri Donaldson,2016-07-01,2016-07-14,...,1.0,2016.0,1.0,NaN,NaN,2018-11-18,NaN,1.0,Qtr 1,#REF!
23,SC,404069,2016-06-13,Rutherford,Competitive,Evaluation,A,Iesha Franklin,2016-07-01,2016-07-13,...,1.0,2016.0,1.0,NaN,NaN,2019-06-13,NaN,1.0,Qtr 1,#REF!
24,SC,404061,2016-05-24,Rutherford,Competitive,Evaluation,A,Shawn Newport,2016-07-01,2016-07-11,...,1.0,2016.0,1.0,NaN,NaN,2019-05-24,NaN,1.0,Qtr 1,#REF!

In [33]:
# teis_pc['age'] = ''
# teis_pc

In [34]:
teis_pc[['Child ID', 'DOB']]

       Child ID        DOB
0        403339 2014-08-09
1        404085 2013-07-31
2        403623 2016-02-05
3        404157 2015-12-06
4        404154 2015-04-18
...         ...        ...
96572    523485 2019-10-23
96573    528430 2022-01-05
96574    515685 2019-08-14
96577    525460 2019-08-27
96579    514216 2021-02-04

[191578 rows x 2 columns]

In [35]:
teis_pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 96579
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  datetime64[ns]
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date          127024 non-null  datetime64[ns]
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106523 non-null  datetime64[ns]
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  datetime64[ns]
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: datetime64[ns](5), float64(11), int64(1), object(17)
memory usage: 55.2+ MB

In [36]:
# teis_pc['age'] = teis_pc['DOB']
# teis_pc.head()

In [37]:
#teis_pc.DOB = pd.to_datetime(teis_pc.DOB)

In [38]:
#datetime.date.today()

In [39]:
#teis_pc.age = teis_pc(now - teis_pc['DOB'])
#teis_pc.head()

In [40]:
teis_pc

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,#REF!
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,#REF!
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,#REF!
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,#REF!
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,UC,523485,2019-10-23,Sumner,Competitive,IFSP,A,Miriam Espinosa,2022-03-02,2022-03-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96573,UC,528430,2022-01-05,Cumberland,Transitional,IFSP,A,Lisa Davis,2022-05-10,2022-05-18,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96574,UC,515685,2019-08-14,Sumner,Competitive,IFSP,A,Cindy Willard,2021-12-01,2021-12-07,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [41]:
# for index, row in teis_pc.iterrows():
#     if row['Exit Date'] == str(teis_pc['Exit Date'],str.extract('%m/%d/%%yy')):
#         teis_pc.loc[index, 'Exit Date'] = '%m/%d/%%yy'
#     else:
#        row['Exit Date'] == pd.to_datetime(teis_pc[index,'Exit Date'])

In [42]:
#teis_pc['Exit Date'] = pd.to_datetime(teis_pc['Exit Date'])

In [43]:
#successful_teis = teis_pc[['Child ID', 'Referral Source Type Name', 'Child Phase', 'Initial IFSP Date']]
#successful_teis.head(20)

In [44]:
#successful_teis['successful/not'] = ''

In [45]:
#successful_teis

In [46]:
#for ind, row in successful_teis.iterrows():
#    if row['Child Phase'] == ('IFSP'):
#        successful_teis.loc[ind, 'successful/not'] = True
#    else:
#        successful_teis.loc[ind, 'successful/not'] = False    
    #if row['Initial IFSP Date'] == ('%m/%d/%Y'):
        #successful_teis.loc[ind, 'successful/not'] = 'successful'
   # else:
     #   successful_teis.loc[ind, 'successful/not'] = 'not'

In [47]:
# for ind, row in successful_teis.iterrows():
#     if row['Initial IFSP Date'] == ('%m/%d/%Y'):
#         successful_teis.loc[ind, 'successful/not'] = 'successful'
#     else:
#         successful_teis.loc[ind, 'successful/not'] = 'not'

In [48]:
#successful_teis.head(20)

In [49]:
#successful_teis['successful/not'].count()

In [50]:
#pct_successful = successful_teis['successful/not'].sum() / successful_teis['successful/not'].count() * 100
#pct_successful

In [51]:
#successful_teis.groupby(['Referral Source Type Name','successful/not'])['Child Phase'].count()

In [52]:
#successful_teis['Referral Source Type Name'].value_counts()

In [53]:
import re
from tqdm.notebook import tqdm

In [54]:
for ind, row in tqdm(teis_c3.iterrows()):
    if re.search('\d{5}', str(row['Exit Date'])):
        teis_c3.loc[ind, 'Exit Date'] = np.NaN

0it [00:00, ?it/s]

In [55]:
teis_c3[['DOB', 'Notification Date', 'Parent Consent Date', 'third DOB', 'Exit Date']] = teis_c3[['DOB', 'Notification Date', 'Parent Consent Date', 'third DOB', 'Exit Date']].apply(pd.to_datetime)
teis_c3

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Latest IFSP Date,Exit Reason,Exit Date,Fiscal Year,Notification Month,Tenn Region,Fiscal Year.1,third DOB,Late Referral,Qtr
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,NaN,NaN,NaT,2016-2017,Jul,Eastern,2016,2017-08-09,NaN,1
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,NaN,Referral less than 45 days,2016-07-01,2016-2017,Jul,Eastern,2016,2016-07-31,1.0,1
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,NaN,NaN,NaT,2016-2017,Jul,Eastern,2016,2019-02-05,NaN,1
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,8/10/2016,NaN,NaT,2016-2017,Jul,Eastern,2016,2018-12-06,NaN,1
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,7/28/2016,NaN,NaT,2016-2017,Jul,Eastern,2016,2018-04-18,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113251,UC,528759,2021-04-07,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,2022-05-16,2022-05-26,...,NaN,NaN,NaT,2021-2022,May,Middle,2021,2024-04-07,NaN,4
113252,UC,528534,2022-03-13,Sumner,Competitive,IFSP,A,Robyn Hogan,2022-05-11,2022-05-23,...,6/14/2022,NaN,NaT,2021-2022,May,Middle,2021,2025-03-13,NaN,4
113253,UC,528430,2022-01-05,Cumberland,Transitional,Eligibility,A,Lisa Davis,2022-05-10,2022-05-18,...,NaN,NaN,NaT,2021-2022,May,Middle,2021,2025-01-05,NaN,4
113254,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,5/31/2022,NaN,NaT,2021-2022,May,Middle,2021,2023-09-12,NaN,4
113255,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,NaN,NaN,NaT,2021-2022,May,Middle,2021,2025-02-08,NaN,4

In [56]:
# teis_c3['DOB'] = pd.to_datetime(teis_c3['DOB'])
# teis_c3['Notification Date'] = pd.to_datetime(teis_c3['Notification Date'])
# teis_c3['Parent Consent Date'] = pd.to_datetime(teis_c3['Parent Consent Date'])
# teis_c3['third DOB'] = pd.to_datetime(teis_c3['third DOB'])
# teis_c3['Exit Date'] = pd.to_datetime(teis_c3['Exit Date'])
# teis_c3

In [57]:
teis_pc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 96579
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  datetime64[ns]
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date          127024 non-null  datetime64[ns]
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106523 non-null  datetime64[ns]
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  datetime64[ns]
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: datetime64[ns](5), float64(11), int64(1), object(17)
memory usage: 55.2+ MB

In [58]:
#teis_c3.DOB = pd.to_datetime(teis_c3.DOB)

In [59]:
teis_pc1 = pd.merge(teis_pc, teis_c3, on=['Child ID', 'Notification Date'], how='left')
teis_pc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 56 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE_x                        191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB_x                        191578 non-null  datetime64[ns]
 3   County Name_x                191570 non-null  object
 4   County SES_x                 191570 non-null  object
 5   Child Phase_x                191578 non-null  object
 6   Active_x                     191578 non-null  object
 7   Service Coordinator_x        191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date_x        127024 non-null  datetime64[ns]
 10  Referral Source Type Name_x  191578 non-null  object
 11  Initial Eligibility_x        107265 non-null  object
 12  Initial Eligibility Date_x   107265 non-null  object
 13  Initial IFSP Date_x          53185 non-null   object
 14  Latest IFSP Date_x           51996 non-null   object
 15  Exit Reason_x                106768 non-null  object
 16  Exit Date_x                  106523 non-null  datetime64[ns]
 17  Fiscal Year_x                113256 non-null  object
 18  Notification Month_x         113256 non-null  object
 19  Tenn Region_x                113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1_x              113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB_x                  113256 non-null  datetime64[ns]
 30  Late Referral_x              2829 non-null    float64
 31  Qtr_x                        113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
 34  POE_y                        189310 non-null  object
 35  DOB_y                        189310 non-null  datetime64[ns]
 36  County Name_y                189302 non-null  object
 37  County SES_y                 189302 non-null  object
 38  Child Phase_y                189310 non-null  object
 39  Active_y                     189310 non-null  object
 40  Service Coordinator_y        189309 non-null  object
 41  Parent Consent Date_y        109769 non-null  datetime64[ns]
 42  Referral Source Type Name_y  189310 non-null  object
 43  Initial Eligibility_y        76143 non-null   object
 44  Initial Eligibility Date_y   76143 non-null   object
 45  Initial IFSP Date_y          15676 non-null   object
 46  Latest IFSP Date_y           15626 non-null   object
 47  Exit Reason_y                49969 non-null   object
 48  Exit Date_y                  49526 non-null   datetime64[ns]
 49  Fiscal Year_y                189310 non-null  object
 50  Notification Month_y         189310 non-null  object
 51  Tenn Region_y                189310 non-null  object
 52  Fiscal Year.1_y              189310 non-null  float64
 53  third DOB_y                  189310 non-null  datetime64[ns]
 54  Late Referral_y              4468 non-null    float64
 55  Qtr_y                        189310 non-null  float64
dtypes: datetime64[ns](9), float64(14), int64(1), object(32)
memory usage: 83.3+ MB

In [60]:
# teis_pc1['Referral Source Type Name_y'] = teis_pc1['Referral Source Type Name_y'].fillna(teis_pc1['Referral Source Type Name_x'])
# teis_pc1 = teis_pc1.drop(columns = ['Referral Source Type Name_x'])
# teis_pc1.info()

In [61]:
#teis_pc1.loc[teis_pc1['Referral Source Type Name'] == 'CAPTA']

In [62]:
teis_pc1['Referral Source Type Name_y'] = teis_pc1['Referral Source Type Name_y'].fillna(teis_pc1['Referral Source Type Name_y'])
teis_pc1['Late Referral_x'] = teis_pc1['Late Referral_x'].fillna(teis_pc1['Late Referral_y'])
teis_pc1['Qtr_x'] = teis_pc1['Qtr_x'].fillna(teis_pc1['Qtr_y'])
teis_pc1['POE_x'] = teis_pc1['POE_x'].fillna(teis_pc1['POE_y'])
teis_pc1['DOB_x'] = teis_pc1['DOB_x'].fillna(teis_pc1['DOB_y'])
teis_pc1['County Name_x'] = teis_pc1['County Name_x'].fillna(teis_pc1['County Name_y'])
teis_pc1['County SES_x'] = teis_pc1['County SES_x'].fillna(teis_pc1['County SES_y'])
teis_pc1['Child Phase_x'] = teis_pc1['Child Phase_x'].fillna(teis_pc1['Child Phase_y'])
teis_pc1['Service Coordinator_x'] = teis_pc1['Service Coordinator_x'].fillna(teis_pc1['Service Coordinator_y'])
teis_pc1['Parent Consent Date_x'] = teis_pc1['Parent Consent Date_x'].fillna(teis_pc1['Parent Consent Date_y'])
teis_pc1['Initial Eligibility_x'] = teis_pc1['Initial Eligibility_x'].fillna(teis_pc1['Initial Eligibility_y'])
teis_pc1['Initial Eligibility Date_x'] = teis_pc1['Initial Eligibility Date_x'].fillna(teis_pc1['Initial Eligibility Date_y'])
teis_pc1['Initial IFSP Date_x'] = teis_pc1['Initial IFSP Date_x'].fillna(teis_pc1['Initial IFSP Date_y'])
teis_pc1['Latest IFSP Date_x'] = teis_pc1['Latest IFSP Date_x'].fillna(teis_pc1['Latest IFSP Date_y'])
teis_pc1['Exit Reason_x'] = teis_pc1['Exit Reason_x'].fillna(teis_pc1['Exit Reason_y'])
teis_pc1['Exit Date_x'] = teis_pc1['Exit Date_x'].fillna(teis_pc1['Exit Date_x'])
teis_pc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 56 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE_x                        191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB_x                        191578 non-null  datetime64[ns]
 3   County Name_x                191571 non-null  object
 4   County SES_x                 191571 non-null  object
 5   Child Phase_x                191578 non-null  object
 6   Active_x                     191578 non-null  object
 7   Service Coordinator_x        191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date_x        127033 non-null  datetime64[ns]
 10  Referral Source Type Name_x  191578 non-null  object
 11  Initial Eligibility_x        107265 non-null  object
 12  Initial Eligibility Date_x   107265 non-null  object
 13  Initial IFSP Date_x          53186 non-null   object
 14  Latest IFSP Date_x           52182 non-null   object
 15  Exit Reason_x                106780 non-null  object
 16  Exit Date_x                  106523 non-null  datetime64[ns]
 17  Fiscal Year_x                113256 non-null  object
 18  Notification Month_x         113256 non-null  object
 19  Tenn Region_x                113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1_x              113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB_x                  113256 non-null  datetime64[ns]
 30  Late Referral_x              4468 non-null    float64
 31  Qtr_x                        189310 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
 34  POE_y                        189310 non-null  object
 35  DOB_y                        189310 non-null  datetime64[ns]
 36  County Name_y                189302 non-null  object
 37  County SES_y                 189302 non-null  object
 38  Child Phase_y                189310 non-null  object
 39  Active_y                     189310 non-null  object
 40  Service Coordinator_y        189309 non-null  object
 41  Parent Consent Date_y        109769 non-null  datetime64[ns]
 42  Referral Source Type Name_y  189310 non-null  object
 43  Initial Eligibility_y        76143 non-null   object
 44  Initial Eligibility Date_y   76143 non-null   object
 45  Initial IFSP Date_y          15676 non-null   object
 46  Latest IFSP Date_y           15626 non-null   object
 47  Exit Reason_y                49969 non-null   object
 48  Exit Date_y                  49526 non-null   datetime64[ns]
 49  Fiscal Year_y                189310 non-null  object
 50  Notification Month_y         189310 non-null  object
 51  Tenn Region_y                189310 non-null  object
 52  Fiscal Year.1_y              189310 non-null  float64
 53  third DOB_y                  189310 non-null  datetime64[ns]
 54  Late Referral_y              4468 non-null    float64
 55  Qtr_y                        189310 non-null  float64
dtypes: datetime64[ns](9), float64(14), int64(1), object(32)
memory usage: 83.3+ MB

In [63]:
teis_pc1 = teis_pc1.drop(columns = ['POE_y', 'DOB_y', 'County Name_y', 'County SES_y', 'Child Phase_y', 'Active_y',
                                          'Service Coordinator_y', 'Parent Consent Date_y', 'Referral Source Type Name_y', 
                                          'Initial Eligibility_y', 'Initial Eligibility Date_y', 'Initial IFSP Date_y',
                                          'Latest IFSP Date_y', 'Exit Reason_y', 'Exit Date_y', 'Fiscal Year_y',
                                          'Notification Month_y', 'Tenn Region_y', 'Fiscal Year.1_y', 'third DOB_y', 
                                          'Late Referral_y', 'Qtr_y'])
teis_pc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE_x                        191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB_x                        191578 non-null  datetime64[ns]
 3   County Name_x                191571 non-null  object
 4   County SES_x                 191571 non-null  object
 5   Child Phase_x                191578 non-null  object
 6   Active_x                     191578 non-null  object
 7   Service Coordinator_x        191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent Date_x        127033 non-null  datetime64[ns]
 10  Referral Source Type Name_x  191578 non-null  object
 11  Initial Eligibility_x        107265 non-null  object
 12  Initial Eligibility Date_x   107265 non-null  object
 13  Initial IFSP Date_x          53186 non-null   object
 14  Latest IFSP Date_x           52182 non-null   object
 15  Exit Reason_x                106780 non-null  object
 16  Exit Date_x                  106523 non-null  datetime64[ns]
 17  Fiscal Year_x                113256 non-null  object
 18  Notification Month_x         113256 non-null  object
 19  Tenn Region_x                113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1_x              113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB_x                  113256 non-null  datetime64[ns]
 30  Late Referral_x              4468 non-null    float64
 31  Qtr_x                        189310 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: datetime64[ns](5), float64(11), int64(1), object(17)
memory usage: 51.2+ MB

In [64]:
teis_pc1 = teis_pc1.rename(columns= {'Fiscal Year_x': 'Fiscal Year',
                                           'Notification Month_x' : 'Notification Month', 
                                           'Tenn Region_x' : 'Tenn Region', 
                                           'Fiscal Year.1_x' : 'Fiscal Year.1',
                                           'third DOB_x' : 'third_DOB',
                                           'Late Referral_x' : 'Late Referral',
                                           'Qtr_x' : 'Qtr',
                                           'POE_x' : 'POE',
                                           'DOB_x' : 'DOB','Exit Date_x' : 'Exit Date',
                                           'County Name_x' : 'County Name',
                                           'County SES_x' : 'County SES',
                                           'Child Phase_x' : 'Child Phase',
                                           'Active_x' : 'Active',
                                           'Service Coordinator_x' : 'Service Coordinator',
                                           'Parent Consent Date_x' : 'Parent Consent',
                                           'Referral Source Type Name_x' : 'Referral Source Type Name',
                                           'Initial Eligibility_x' : 'Initial Eligibility',
                                           'Initial Eligibility Date_x' : 'Initial Eligibility Date',
                                           'Initial IFSP Date_x' : 'Initial IFSP Date',
                                           'Latest IFSP Date_x' : 'Latest IFSP',
                                           'Exit Reason_x' : 'Exit Reason'})
teis_pc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  datetime64[ns]
 3   County Name                  191571 non-null  object
 4   County SES                   191571 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent               127033 non-null  datetime64[ns]
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53186 non-null   object
 14  Latest IFSP                  52182 non-null   object
 15  Exit Reason                  106780 non-null  object
 16  Exit Date                    106523 non-null  datetime64[ns]
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third_DOB                    113256 non-null  datetime64[ns]
 30  Late Referral                4468 non-null    float64
 31  Qtr                          189310 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: datetime64[ns](5), float64(11), int64(1), object(17)
memory usage: 51.2+ MB

In [65]:
teis_pc1

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third_DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1.0,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,#REF!
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1.0,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,#REF!
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1.0,2016.0,1.0,NaN,NaN,2019-02-05,NaN,1.0,Qtr 1,#REF!
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1.0,2016.0,1.0,NaN,NaN,2018-12-06,NaN,1.0,Qtr 1,#REF!
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1.0,2016.0,1.0,NaN,NaN,2018-04-18,NaN,1.0,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191573,UC,523485,2019-10-23,Sumner,Competitive,IFSP,A,Miriam Espinosa,2022-03-02,2022-03-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,3.0,NaN,NaN
191574,UC,528430,2022-01-05,Cumberland,Transitional,IFSP,A,Lisa Davis,2022-05-10,2022-05-18,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,4.0,NaN,NaN
191575,UC,515685,2019-08-14,Sumner,Competitive,IFSP,A,Cindy Willard,2021-12-01,2021-12-07,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.0,NaN,NaN
191576,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,3.0,NaN,NaN
191577,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.0,NaN,NaN

In [66]:
#reref = teis_pc1[teis_pc1.duplicated('Child ID')].sort_values('Child ID')

#reref

In [67]:
#reref.info()

In [68]:
teis_pc1['Year'] = teis_pc1['Notification Date'].dt.year
teis_pc1.head(2)

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent,...,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third_DOB,Late Referral,Qtr,QTR,Referral Source Category,Year
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,2016.0,1.0,NaN,NaN,2017-08-09,NaN,1.0,Qtr 1,#REF!,2016
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,2016.0,1.0,NaN,NaN,2016-07-31,1.0,1.0,Qtr 1,#REF!,2016

In [69]:
reref = teis_pc1[teis_pc1.duplicated('Child ID')].sort_values('Child ID')
reref['Year'] = reref['Notification Date'].dt.year
reref.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94835 entries, 120215 to 179836
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   POE                          94835 non-null  object
 1   Child ID                     94835 non-null  int64
 2   DOB                          94835 non-null  datetime64[ns]
 3   County Name                  94832 non-null  object
 4   County SES                   94832 non-null  object
 5   Child Phase                  94835 non-null  object
 6   Active                       94835 non-null  object
 7   Service Coordinator          94835 non-null  object
 8   Notification Date            94835 non-null  datetime64[ns]
 9   Parent Consent               77576 non-null  datetime64[ns]
 10  Referral Source Type Name    94835 non-null  object
 11  Initial Eligibility          76085 non-null  object
 12  Initial Eligibility Date     76085 non-null  object
 13  Initial IFSP Date            47296 non-null  object
 14  Latest IFSP                  46314 non-null  object
 15  Exit Reason                  72289 non-null  object
 16  Exit Date                    72242 non-null  datetime64[ns]
 17  Fiscal Year                  18306 non-null  object
 18  Notification Month           18306 non-null  object
 19  Tenn Region                  18306 non-null  object
 20  Referral Count               18306 non-null  float64
 21  Evaluation Count             12470 non-null  float64
 22  Eligibility Count            9995 non-null   float64
 23  IFSP Count                   2190 non-null   float64
 24  Service Coordinator Counter  18306 non-null  float64
 25  Fiscal Year.1                18306 non-null  float64
 26  Child Count                  18306 non-null  float64
 27  2012 Child Count             0 non-null      float64
 28  2013 Child Count             0 non-null      float64
 29  third_DOB                    18306 non-null  datetime64[ns]
 30  Late Referral                2295 non-null   float64
 31  Qtr                          94360 non-null  float64
 32   QTR                         18306 non-null  object
 33  Referral Source Category     18306 non-null  object
 34  Year                         94835 non-null  int64
dtypes: datetime64[ns](5), float64(11), int64(2), object(17)
memory usage: 26.0+ MB

In [70]:
teis_pc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  datetime64[ns]
 3   County Name                  191571 non-null  object
 4   County SES                   191571 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  datetime64[ns]
 9   Parent Consent               127033 non-null  datetime64[ns]
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53186 non-null   object
 14  Latest IFSP                  52182 non-null   object
 15  Exit Reason                  106780 non-null  object
 16  Exit Date                    106523 non-null  datetime64[ns]
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third_DOB                    113256 non-null  datetime64[ns]
 30  Late Referral                4468 non-null    float64
 31  Qtr                          189310 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
 34  Year                         191578 non-null  int64
dtypes: datetime64[ns](5), float64(11), int64(2), object(17)
memory usage: 52.6+ MB

In [71]:
reref.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94835 entries, 120215 to 179836
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   POE                          94835 non-null  object
 1   Child ID                     94835 non-null  int64
 2   DOB                          94835 non-null  datetime64[ns]
 3   County Name                  94832 non-null  object
 4   County SES                   94832 non-null  object
 5   Child Phase                  94835 non-null  object
 6   Active                       94835 non-null  object
 7   Service Coordinator          94835 non-null  object
 8   Notification Date            94835 non-null  datetime64[ns]
 9   Parent Consent               77576 non-null  datetime64[ns]
 10  Referral Source Type Name    94835 non-null  object
 11  Initial Eligibility          76085 non-null  object
 12  Initial Eligibility Date     76085 non-null  object
 13  Initial IFSP Date            47296 non-null  object
 14  Latest IFSP                  46314 non-null  object
 15  Exit Reason                  72289 non-null  object
 16  Exit Date                    72242 non-null  datetime64[ns]
 17  Fiscal Year                  18306 non-null  object
 18  Notification Month           18306 non-null  object
 19  Tenn Region                  18306 non-null  object
 20  Referral Count               18306 non-null  float64
 21  Evaluation Count             12470 non-null  float64
 22  Eligibility Count            9995 non-null   float64
 23  IFSP Count                   2190 non-null   float64
 24  Service Coordinator Counter  18306 non-null  float64
 25  Fiscal Year.1                18306 non-null  float64
 26  Child Count                  18306 non-null  float64
 27  2012 Child Count             0 non-null      float64
 28  2013 Child Count             0 non-null      float64
 29  third_DOB                    18306 non-null  datetime64[ns]
 30  Late Referral                2295 non-null   float64
 31  Qtr                          94360 non-null  float64
 32   QTR                         18306 non-null  object
 33  Referral Source Category     18306 non-null  object
 34  Year                         94835 non-null  int64
dtypes: datetime64[ns](5), float64(11), int64(2), object(17)
memory usage: 26.0+ MB

In [72]:
numb_reref = len(np.unique(np.array(reref['Child ID'])))
numb_reref

79049

In [73]:
n_reref = reref.groupby(['Referral Source Type Name']).count()
n_reref

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent,...,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third_DOB,Late Referral,Qtr,QTR,Referral Source Category,Year
Referral Source Type Name,,,,,,,,,,,,,,,,,,,,,
CAPTA,2,2,2,2,2,2,2,2,2,2,...,1,1,0,0,1,0,2,1,1,2
Child Care provider,351,351,351,351,351,351,351,351,351,298,...,42,42,0,0,42,36,351,42,42,351
Community/Child Find Activity,338,338,338,338,338,338,338,338,338,286,...,48,48,0,0,48,14,338,48,48,338
DCS,17778,17778,17778,17778,17778,17778,17778,17778,17778,13233,...,3423,3423,0,0,3423,463,17707,3423,3423,17778
DHS,9,9,9,9,9,9,9,9,9,9,...,1,1,0,0,1,2,9,1,1,9
DMRS,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,1
Dept. of Health,2828,2828,2828,2828,2828,2828,2828,2828,2828,2185,...,592,592,0,0,592,63,2818,592,592,2828
EIRA,287,287,287,287,287,287,287,287,287,246,...,49,49,0,0,49,9,285,49,49,287
Early Head Start/Head Start,944,944,944,944,944,944,944,944,944,796,...,187,187,0,0,187,42,941,187,187,944
Family and Friends,553,553,553,553,553,553,553,553,553,472,...,139,139,0,0,139,46,549,139,139,553
Foster Parent,528,528,528,528,528,528,528,528,528,455,...,184,184,0,0,184,11,525,184,184,528
Hospital,4936,4936,4936,4935,4935,4936,4936,4936,4936,4090,...,651,651,0,0,651,46,4923,651,651,4936
LEA,14,14,14,14,14,14,14,14,14,12,...,3,3,0,0,3,0,14,3,3,14
NHS,125,125,125,125,125,125,125,125,125,85,...,29,29,0,0,29,1,124,29,29,125
NICU,1783,1783,1783,1783,1783,1783,1783,1783,1783,1525,...,85,85,0,0,85,0,1780,85,85,1783
OT,77,77,77,77,77,77,77,77,77,58,...,18,18,0,0,18,1,75,18,18,77
Other,2235,2235,2235,2235,2235,2235,2235,2235,2235,1876,...,489,489,0,0,489,42,2220,489,489,2235
Other Health Care Provider,2116,2116,2116,2116,2116,2116,2116,2116,2116,1692,...,483,483,0,0,483,42,2102,483,483,2116
PCP,35407,35407,35407,35405,35405,35407,35407,35407,35407,28534,...,6170,6170,0,0,6170,596,35192,6170,6170,35407
PICU,23,23,23,23,23,23,23,23,23,22,...,3,3,0,0,3,2,23,3,3,23
PT,597,597,597,597,597,597,597,597,597,518,...,123,123,0,0,123,7,593,123,123,597
Parent,23273,23273,23273,23273,23273,23273,23273,23273,23273,20657,...,5451,5451,0,0,5451,853,23160,5451,5451,23273
Speech Therapist,626,626,626,626,626,626,626,626,626,520,...,133,133,0,0,133,19,624,133,133,626
TIPS,4,4,4,4,4,4,4,4,4,4,...,2,2,0,0,2,0,4,2,2,4

In [74]:
n_ref = teis_pc1.groupby('Referral Source Type Name').count()
n_ref

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent,...,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third_DOB,Late Referral,Qtr,QTR,Referral Source Category,Year
Referral Source Type Name,,,,,,,,,,,,,,,,,,,,,
CAPTA,3,3,3,3,3,3,3,3,3,3,...,2,2,0,0,2,0,3,2,2,3
Child Care provider,743,743,743,743,743,743,743,743,743,528,...,421,421,0,0,421,82,730,421,421,743
Community/Child Find Activity,676,676,676,676,676,676,676,676,676,484,...,385,385,0,0,385,28,675,385,385,676
DCS,40005,40005,40005,40004,40004,40005,40005,40004,40005,22091,...,25346,25346,0,0,25346,938,39630,25346,25346,40005
DHS,21,21,21,21,21,21,21,21,21,16,...,13,13,0,0,13,4,21,13,13,21
DMRS,2,2,2,2,2,2,2,2,2,2,...,1,1,0,0,1,0,2,1,1,2
Dept. of Health,5901,5901,5901,5901,5901,5901,5901,5901,5901,3533,...,3631,3631,0,0,3631,147,5857,3631,3631,5901
EIRA,587,587,587,587,587,587,587,587,587,394,...,343,343,0,0,343,18,579,343,343,587
Early Head Start/Head Start,1779,1779,1779,1779,1779,1779,1779,1779,1779,1263,...,1014,1014,0,0,1014,90,1768,1014,1014,1779
Family and Friends,926,926,926,926,926,926,926,926,926,724,...,507,507,0,0,507,69,917,507,507,926
Foster Parent,762,762,762,762,762,762,762,762,762,633,...,413,413,0,0,413,20,754,413,413,762
Hospital,11564,11564,11564,11562,11562,11564,11564,11564,11564,7125,...,7184,7184,0,0,7184,97,11456,7184,7184,11564
LEA,27,27,27,27,27,27,27,27,27,18,...,15,15,0,0,15,0,26,15,15,27
NHS,317,317,317,317,317,317,317,317,317,150,...,219,219,0,0,219,3,314,219,219,317
NICU,4970,4970,4970,4970,4970,4970,4970,4970,4970,2765,...,3232,3232,0,0,3232,0,4927,3232,3232,4970
OT,143,143,143,143,143,143,143,143,143,93,...,82,82,0,0,82,2,139,82,82,143
Other,4343,4343,4343,4343,4343,4343,4343,4343,4343,3111,...,2561,2561,0,0,2561,83,4292,2561,2561,4343
Other Health Care Provider,3945,3945,3945,3945,3945,3945,3945,3945,3945,2697,...,2256,2256,0,0,2256,74,3875,2256,2256,3945
PCP,72921,72921,72921,72917,72917,72921,72921,72921,72921,47876,...,42824,42824,0,0,42824,1212,71846,42824,42824,72921
PICU,46,46,46,46,46,46,46,46,46,34,...,26,26,0,0,26,2,46,26,26,46
PT,1093,1093,1093,1093,1093,1093,1093,1093,1093,833,...,609,609,0,0,609,9,1079,609,609,1093
Parent,39653,39653,39653,39653,39653,39653,39653,39653,39653,31839,...,21530,21530,0,0,21530,1550,39239,21530,21530,39653
Speech Therapist,1145,1145,1145,1145,1145,1145,1145,1145,1145,817,...,638,638,0,0,638,40,1129,638,638,1145
TIPS,6,6,6,6,6,6,6,6,6,4,...,4,4,0,0,4,0,6,4,4,6