In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
teis_p = pd.read_csv('../data/teis_p.csv')
teis_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96580 entries, 0 to 96579
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   POE                        96580 non-null  object
 1   Child ID                   96580 non-null  int64
 2   DOB                        96580 non-null  object
 3   County Name                96576 non-null  object
 4   County SES                 96576 non-null  object
 5   Child Phase                96580 non-null  object
 6   Active                     96580 non-null  object
 7   Service Coordinator        96579 non-null  object
 8   Notification Date          96580 non-null  object
 9   Parent Consent Date        70026 non-null  object
 10  Referral Source Type Name  96580 non-null  object
 11  Initial Eligibility        68221 non-null  object
 12  Initial Eligibility Date   68221 non-null  object
 13  Initial IFSP Date          45493 non-null  object
 14  Latest IFSP Date           44331 non-null  object
 15  Exit Reason                85194 non-null  object
 16  Exit Date                  85194 non-null  object
dtypes: int64(1), object(16)
memory usage: 12.5+ MB

In [3]:
teis_c = pd.read_csv('../data/teis_c.csv')
teis_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113256 entries, 0 to 113255
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          113256 non-null  object
 1   Child ID                     113256 non-null  int64
 2   DOB                          113256 non-null  object
 3   County Name                  113251 non-null  object
 4   County SES                   113251 non-null  object
 5   Child Phase                  113256 non-null  object
 6   Active                       113256 non-null  object
 7   Service Coordinator          113255 non-null  object
 8   Notification/ Referral Date  113256 non-null  object
 9   Parent Consent Date          58101 non-null   object
 10  Referral Source Type Name    113256 non-null  object
 11  Initial Eligibility          40762 non-null   object
 12  Initial Eligibility Date     40762 non-null   object
 13  Initial IFSP Date            8010 non-null    object
 14  Latest IFSP Date             7983 non-null    object
 15  Exit Reason                  39366 non-null   object
 16  Exit Date                    39366 non-null   object
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  int64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  int64
 25  Fiscal Year.1                113256 non-null  int64
 26  Child Count                  113256 non-null  int64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  object
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  int64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: float64(6), int64(6), object(22)
memory usage: 29.4+ MB

c_duplicates = teis_c[teis_c.duplicated('Child ID', keep=False)]
c_duplicates = c_duplicates.sort_values('Child ID')
c_duplicates
num_dup = len(np.unique(np.array(c_duplicates['Child ID'])))
num_dup

In [4]:
teis_c = teis_c.rename(columns = {'Notification/ Referral Date' : 'Notification Date'})
teis_p = teis_p.rename(columns = {'County SES ' : 'County SES'})

In [5]:
teis_all = pd.concat([teis_c, teis_p])
teis_all

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,1.0,2016.0,1.0,NaN,NaN,8/9/2017,NaN,1.0,Qtr 1,#REF!
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,1.0,2016.0,1.0,NaN,NaN,7/31/2016,1.0,1.0,Qtr 1,#REF!
2,FT,403623,2/5/2016,Sullivan,Transitional,Eligibility,A,Amy Talbert,7/1/2016,7/20/16,...,1.0,2016.0,1.0,NaN,NaN,2/5/2019,NaN,1.0,Qtr 1,#REF!
3,FT,404157,12/6/2015,Sullivan,Transitional,IFSP,A,Candice Cradic,7/1/2016,7/22/16,...,1.0,2016.0,1.0,NaN,NaN,12/6/2018,NaN,1.0,Qtr 1,#REF!
4,FT,404154,4/18/2015,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,7/1/2016,7/18/16,...,1.0,2016.0,1.0,NaN,NaN,4/18/2018,NaN,1.0,Qtr 1,#REF!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96575,UC,519094,4/10/2020,Macon,Transitional,Eligibility,I,Sherry Roberts-DS,1/12/2022,1/19/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96576,UC,528253,9/12/2020,Sumner,Competitive,IFSP,A,Taylor Lee,5/6/2022,5/11/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96577,UC,525460,8/27/2019,Sumner,Competitive,Notification,I,Sherry Roberts-DS,3/29/2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96578,UC,528535,2/8/2022,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,5/11/2022,5/27/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96579,UC,514216,2/4/2021,Sumner,Competitive,IFSP,I,Dawn Reed,11/5/2021,11/10/2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
teis_clean = teis_all[~teis_all.duplicated(['POE', 'Child ID', 'DOB', 'County Name', 'County SES', 'Child Phase',
       'Active', 'Service Coordinator', 'Notification Date',
       'Parent Consent Date', 'Referral Source Type Name',
       'Initial Eligibility', 'Initial Eligibility Date', 'Initial IFSP Date',
       'Latest IFSP Date', 'Exit Reason', 'Exit Date'])]
teis_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 96579
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  object
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  object
 9   Parent Consent Date          127024 non-null  object
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106768 non-null  object
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  object
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: float64(11), int64(1), object(22)
memory usage: 51.2+ MB

In [7]:
teis_merge = pd.merge(teis_c, teis_p, how='outer')
teis_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191578 entries, 0 to 191577
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   POE                          191578 non-null  object
 1   Child ID                     191578 non-null  int64
 2   DOB                          191578 non-null  object
 3   County Name                  191570 non-null  object
 4   County SES                   191570 non-null  object
 5   Child Phase                  191578 non-null  object
 6   Active                       191578 non-null  object
 7   Service Coordinator          191577 non-null  object
 8   Notification Date            191578 non-null  object
 9   Parent Consent Date          127024 non-null  object
 10  Referral Source Type Name    191578 non-null  object
 11  Initial Eligibility          107265 non-null  object
 12  Initial Eligibility Date     107265 non-null  object
 13  Initial IFSP Date            53185 non-null   object
 14  Latest IFSP Date             51996 non-null   object
 15  Exit Reason                  106768 non-null  object
 16  Exit Date                    106768 non-null  object
 17  Fiscal Year                  113256 non-null  object
 18  Notification Month           113256 non-null  object
 19  Tenn Region                  113256 non-null  object
 20  Referral Count               113256 non-null  float64
 21  Evaluation Count             59469 non-null   float64
 22  Eligibility Count            40762 non-null   float64
 23  IFSP Count                   8010 non-null    float64
 24  Service Coordinator Counter  113256 non-null  float64
 25  Fiscal Year.1                113256 non-null  float64
 26  Child Count                  113256 non-null  float64
 27  2012 Child Count             0 non-null       float64
 28  2013 Child Count             0 non-null       float64
 29  third DOB                    113256 non-null  object
 30  Late Referral                2829 non-null    float64
 31  Qtr                          113256 non-null  float64
 32   QTR                         113256 non-null  object
 33  Referral Source Category     113256 non-null  object
dtypes: float64(11), int64(1), object(22)
memory usage: 51.2+ MB

In [8]:
teis_clean = teis_clean.drop(columns = ['2012 Child Count', '2013 Child Count', 'Service Coordinator Counter', 
                                        'Child Count', ' QTR ', 'Referral Source Category'])
teis_clean.head(2)

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Notification Month,Tenn Region,Referral Count,Evaluation Count,Eligibility Count,IFSP Count,Fiscal Year.1,third DOB,Late Referral,Qtr
0,ET,403339,8/9/2014,Blount,Transitional,Eligibility,A,Kristi Borer,7/1/2016,7/1/16,...,Jul,Eastern,1.0,1.0,1.0,NaN,2016.0,8/9/2017,NaN,1.0
1,FT,404085,7/31/2013,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,7/1/2016,NaN,...,Jul,Eastern,1.0,NaN,NaN,NaN,2016.0,7/31/2016,1.0,1.0

In [9]:
teis_clean['DOB'] = pd.to_datetime(teis_clean['DOB'])
teis_clean['Notification Date'] = pd.to_datetime(teis_clean['Notification Date'])
teis_clean['Parent Consent Date'] = pd.to_datetime(teis_clean['Parent Consent Date'])
teis_clean['third DOB'] = pd.to_datetime(teis_clean['third DOB'])
teis_clean

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification Date,Parent Consent Date,...,Notification Month,Tenn Region,Referral Count,Evaluation Count,Eligibility Count,IFSP Count,Fiscal Year.1,third DOB,Late Referral,Qtr
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,Jul,Eastern,1.0,1.0,1.0,NaN,2016.0,2017-08-09,NaN,1.0
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,Jul,Eastern,1.0,NaN,NaN,NaN,2016.0,2016-07-31,1.0,1.0
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,Jul,Eastern,1.0,1.0,1.0,NaN,2016.0,2019-02-05,NaN,1.0
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,Jul,Eastern,1.0,1.0,1.0,1.0,2016.0,2018-12-06,NaN,1.0
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,Jul,Eastern,1.0,1.0,1.0,1.0,2016.0,2018-04-18,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96572,UC,523485,2019-10-23,Sumner,Competitive,IFSP,A,Miriam Espinosa,2022-03-02,2022-03-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
96573,UC,528430,2022-01-05,Cumberland,Transitional,IFSP,A,Lisa Davis,2022-05-10,2022-05-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
96574,UC,515685,2019-08-14,Sumner,Competitive,IFSP,A,Cindy Willard,2021-12-01,2021-12-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
96577,UC,525460,2019-08-27,Sumner,Competitive,Notification,I,Sherry Roberts-DS,2022-03-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
96579,UC,514216,2021-02-04,Sumner,Competitive,IFSP,I,Dawn Reed,2021-11-05,2021-11-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [ ]:
pd.set_option("display.max_rows", None)
teis_clean['Exit Date'].value_counts().loc[lambda x : x<6].sort_index(ascending=True)

In [13]:
import re

In [23]:
for ind, row in teis_clean.iterrows():
    if row['Exit Date'] == str(teis_clean['Exit Date'].str.extract("(\d{5})")):
        teis_clean.loc[ind, 'Exit Date'] = "0/0/00"
    else: 
        row['Exit Date'] == pd.to_datetime(teis_clean.loc[ind, 'Exit Date'])

KeyboardInterrupt:

In [ ]:
teis_clean

In [ ]:
#teis_clean['Exit Date'] = pd.to_datetime(teis_clean['Exit Date'], errors='coerce', infer_datetime_format=True)
#teis_clean

In [ ]:
clean_duplicates = teis_clean[teis_clean.duplicated('Child ID', keep=False)]
clean_duplicates